.fab {
  border-radius: 50%;
  bottom: 16px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 32px;
  padding: 24px;
  position: fixed;
  right: 16px;
}

.fab-delete {
  border-radius: 50%;
  bottom: 16px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 32px;
  padding: 24px;
  position: fixed;
  left: 16px;
}
